
<div class = "row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center plan_title">Edit Your Profile</h1>
            <p class="text-center plan_title">Be a part of a Dynamic Community and share your best work</p>
                <div class="well">
                <%= render 'form'%>
            </div>
        
    </div>
  </div>  
