<div class="jumbotron text-center">
<h1>Welcome to StrtUpSaas</h1>
<h3>This is a software as a service for Photographers, Designers and Illustrators to sell their work and build their portfolio</h3>
    
   
</div>
<div class="jumbotron">
 <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <h4>Sign up Free to gain access to the free community.</h4>
                <br/>
                <%= link_to 'Sign up for Basic',new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block'%>
            </div>    
        </div>    
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Pro Membership</h2>
                <h4>Sign up Pro for INR 599/m to gain access to the free community and view contact information!</h4>
            
                <%= link_to 'Sign up for Pro',new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block'%>
            </div>    
        </div>   
 </div>
 </div>
 



